SUBSYSTEM=="hid", ACTION=="add|remove", \
RUN+="/usr/local/bin/devify \"$env{HID_NAME}\" \"$env{ACTION}\""

# These are for xbox controller that, for some reason* don't use the hid 
# SUBSYSTEM, but rather the input SUBSYSTEM
# *: At least in my machine (running Gentoo, date: July 2023)
#
# Target only input devices that are not of hid type, this will hopefully help
# prevent repeated notificatios, also for some reason NAME doesn't work here
# so use ID_MODEL
ACTION=="add|remove", SUBSYSTEM=="input", ENV{ID_TYPE}!="hid", \
RUN+="/usr/local/bin/devify \"$env{ID_MODEL}\" \"$env{ACTION}\""

# Flash drive
ACTION=="add|remove", SUBSYSTEM=="block", ENV{DEVNAME}=="/dev/sd?", \
RUN+="/usr/local/bin/devify \"usb_drive:$env{ID_MODEL} ($env{ID_VENDOR})\" \"$env{ACTION}\""

# Android device
ACTION=="add|remove", SUBSYSTEM=="usb", ENV{DEVLINKS}=="/dev/android*", \
RUN+="/usr/local/bin/devify \"android_device:$env{ID_MODEL} ($env{ID_VENDOR})\" \"$env{ACTION}\""